[submodule "Influencer-hugo"]
	path = Influencer-hugo
	url = https://github.com/themefisher/Influencer-hugo.git
[submodule "theme/influ"]
	path = theme/influ
	url = https://github.com/themefisher/Influencer-hugo.git
[submodule "themes/influ"]
	path = themes/influ
	url = https://github.com/themefisher/Influencer-hugo.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "public"]
	path = public
	url = https://github.com/techethicscoalition/techethicscoalition.github.io.git
	branch = master
[submodule "public."]
	path = public.
	url = https://github.com/techethicscoalition/techethicscoalition.github.io.git
	branch = master
[submodule "TechEthicsCoalition.github.io"]
	path = TechEthicsCoalition.github.io
	url = https://github.com/TechEthicsCoalition/TechEthicsCoalition.github.io.git
